@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #152b47;
  --color-primary-hover: #0d1b2f;
  --color-secondary: #152b47;
  --color-accent: #152b47;
  --color-accent-hover: #0d1b2f;
  --color-success: #10b981;
  --color-success-hover: #059669;
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }

  .bg-primary-hover {
    background-color: var(--color-primary-hover);
  }

  .hover\:bg-primary:hover {
    background-color: var(--color-primary);
  }

  .hover\:bg-primary-hover:hover {
    background-color: var(--color-primary-hover);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .bg-accent {
    background-color: var(--color-accent);
  }

  .hover\:bg-accent-hover:hover {
    background-color: var(--color-accent-hover);
  }

  .bg-success {
    background-color: var(--color-success);
  }

  .hover\:bg-success:hover {
    background-color: var(--color-success);
  }

  .hover\:bg-success-hover:hover {
    background-color: var(--color-success-hover);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .hover\:text-primary:hover {
    color: var(--color-primary);
  }

  .text-accent {
    color: var(--color-accent);
  }

  .text-success {
    color: var(--color-success);
  }

  .border-primary {
    border-color: var(--color-primary);
  }

  .border-accent {
    border-color: var(--color-accent);
  }

  .ring-primary {
    --tw-ring-color: var(--color-primary);
  }
}
